html, body, .modal-dialog {
    background: #ecf0f1;
}

body {
    font-family: 'Hind', sans-serif;
}

.header h1, .header h2 {
    display: inline;
    margin-right: 0.1em;
}

.header h1 {
    font-size: 48px;
}

.header h2, #line-vis-blurb h2 {
    font-size: 36px;
}

#sunburst-vis {
    font-size: 15px;
}

#sunburst-vis path, line {
    stroke: black;
    stroke-width: 1;
}

#line-vis path {
    stroke: grey;
    stroke-width: 2;
    fill: none;
}

#line-vis path.current {
    stroke: black;
    stroke-width: 3;
}

#line-vis-blurb {
    text-align: left;
    margin-left: -4em;
    margin-right: 4em;
    font-size: 16px;
}

#line-vis-blurb .health-score-label, #line-vis-blurb .health-score {
    display: inline;
}

.vis-container {
    text-align: center;
}

.vis-container .yLabel {
    baseline-shift: -2px;
}

.modal-dialog {
    border-radius: 0.5em;
}

.navbar-brand img {
    width: 32px;
    margin-top: -3px;
    display: inline;
}

.navbar {
    background: #34495e;
    border-radius: 0;
    border-bottom: 1px solid #34495e;
}

.navbar-nav li {
    margin-top: -0.1em;
    transition: 0.3s linear;
    border-right: 1px solid #34495e;
}

.navbar-nav li a {
    margin-top: 0.1em;
}

.navbar-inverted a, .navbar-inverted a:visited, .navbar-inverted a:hover {
    color: #ecf0f1;
}

#home-link {
    background: #e74c3c;
}

#home-link:hover {
    background: #c0392b;
}

#about-link {
    background: #3498db;
}

#about-link:hover {
    background: #2980b9;
}

#sunburst-link {
    background: #9b59b6;
}

#sunburst-link:hover {
    background: #8e44ad;
}

#line-link {
    background: #e67e22;
}

#line-link:hover {
    background: #d35400;
}
