html, body, .modal-dialog {
    background: #ecf0f1;
}

body {
    font-family: 'Hind', sans-serif;
}

.header h1, .header h2 {
    display: inline;
    margin-right: 0.1em;
}

.header h1 {
    font-size: 48px;
}

.header h2, #line-vis-blurb h2 {
    font-size: 36px;
}

#sunburst-vis {
    font-size: 15px;
}

#sunburst-vis path, line {
    stroke: black;
    stroke-width: 1;
}

#line-vis path {
    stroke: grey;
    stroke-width: 2;
    fill: none;
}

#line-vis path.current {
    stroke: black;
    stroke-width: 3;
}

#line-vis-blurb {
    text-align: left;
    margin-left: -4em;
    margin-right: 4em;
    font-size: 16px;
}

#line-vis-blurb .health-score-label, #line-vis-blurb .health-score {
    display: inline;
}

.header {
    margin: 1.2em 0;
}

.vis-container {
    text-align: center;
}

.vis-container .yLabel {
    baseline-shift: -2px;
}

.modal-dialog {
    border-radius: 0.5em;
}
